langchain_openai
langchain_azure_ai
langchain_community
langchain-core
langcodes
jsonschema
neo4j 
python-dotenv
text2term
spacy
neo4j-driver
fastapi
uvicorn
pydantic
jinja2
python-multipart
dotenv
shortuuid
textblob
